doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script.
		var parser = document.createElement('a');
		parser.href = window.location.href;
		var appName = parser.origin;
	script(type='text/javascript', src='/faye/client.js')
	script.
		var client = new Faye.Client('/faye');
	script.
		function appendMessage(time, message){
		$('#chatbox').append(message + '<br />');
		};
		function loadChatHistory(){
		$.ajax({
		type: "GET",
		url: appName+"/restricted/getChatHistory",
		async: false,  
		success:function(data) {
		var history = data.history;
		history.forEach(function(e){
		appendMessage(e.time, e.message);
		})
		}
		});

		}
	block content